[fetch]
    prune = true
[core]
    autocrlf = input
    excludesfile = ~/.gitignore    
[alias]
    d = diff
    s = status
    c = commit
    cam = commit -am
    co = checkout
    cob = checkout -b
    b = branch
    ba = branch -a 
    bd = branch -D
    unstage = reset HEAD --
    last = log -1 HEAD
    po = "!git push --set-upstream origin \"$(git rev-parse --abbrev-ref HEAD)\""
    ll = log --graph --format=\"%C(yellow)%h%C(red)%d%C(reset) - %C(bold green)(%ar)%C(reset) %s %C(blue)<%an>%C(reset)\"
[user]
    email = vcfvct@gmail.com
    name = Han Li
[commit]
    template = ~/GIT/dotfile/git/commit.tpl
[pull]
	ff = only

[core]
    pager = delta
    longpaths = true

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    features = side-by-side line-numbers decorations

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
